<a href="https://colab.research.google.com/github/markste-in/colab/blob/master/pandas_bug.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Incosistent handling of None-Type in Pandas

In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.1.5'

In [6]:
!uname -a

Linux 9809b0e46b74 5.4.104+ #1 SMP Sat Jun 5 09:50:34 PDT 2021 x86_64 x86_64 x86_64 GNU/Linux

In [3]:
test = [(None,None),(1,2)]
test2 = [(None,None)]

In [4]:
pd.DataFrame(test)

     0    1
0  NaN  NaN
1  1.0  2.0

In [5]:
pd.DataFrame(test2)

      0     1
0  None  None